<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Supplier.master.cs" Inherits="Invantory_Management_System.Supplier" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Supplier Panel</title>

    <link href="Supplier.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">

        <div class="header">

            <h1>SUPPLIER DETAILS</h1>

            <div class="logout-section">
                <a href="logout.aspx">Logout</a>
            </div>

        </div>

        <hr />

        <table class="menu-table">
            <tr align="center">
                <td><a href="SupplierProfile.aspx">Profile</a></td>
                <td><a href="Supplier_MySell.aspx">All Sell</a></td>
            </tr>
        </table>

        <div class="content-area">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>

    </form>
</body>
</html>